
<div class="container">

<h1>{{travel.title}} </h1>
<h3 class="author">by {{travel.author}}</h3>
<hr>
<h3>{{travel.country}}</h3>
<hr>
<h4>{{travel.summary}}</h4>
<hr>

<img class="travel-img" src={{travel.image}} alt="Travel image">


<h3>Comments</h3>
<ul>
  {{#each travel.comments as |comment|}}
    {{comment-tile comment=comment destroyComment='destroyComment' updateComment='updateComment'}}
  {{/each}}
</ul>


<button {{action 'delete' travel}}>Delete Comment</button>

</div>
