 <div class="each-tile">
     <h2 class="title">{{travel.title}}</h2>
     <h3 class="author">by {{travel.author}}</h3>
     <h3 class="country">Country: {{travel.country}}</h3>

     <img class="image" src={{travel.image}} alt="travel image">
     <p class="summary">
       {{travel.summary}}
     </p>

     <p class="read-more"> {{#link-to 'travel' travel.id}}
       Read More...
       {{/link-to}}
     </p>


</div>
