<!-- <img class="blog-image" src="{{travel.image}}" alt="Travel Image" /> -->
<br>
{{travel.title}} by {{travel.author}}
{{travel.country}}
{{travel.summary}}

{{#if isImageShowing }}
  <p><img src={{travel.image}} alt={{travel.type}} {{action 'imageHide'}}></p>
{{else}}
  <button {{action 'imageShow'}}>Show image</button>
{{/if}}
{{update-travel travel=travel update="update"}}
  <button {{action 'delete' travel}}>Delete Post</button>
